<div class="flex justify-center" >
  <%= image_tag "top_image.svg", class:"w-full max-w-3xl", alt: "シャアスキ！ロゴ" %>
</div>
<div class="flex flex-col md:flex-row justify-center max-w-4xl mx-auto mt-12 gap-8 px-4">
  <div class="w-full md:w-1/2 bg-white rounded-xl shadow-lg ">
    <div class="p-8 flex flex-col items-center">
      <h2 class=" text-xl sm:text-2xl font-bold mb-4 text-gray-800"><%= t('header.all_suki') %></h2>
      <p class="text-gray-600 mb-6 text-center text-sm sm:text-base">みんなの「スキ！」をのぞいてみましょう！会員登録すると、いいね・お気に入りが使えます！</p>
      <div class="mt-auto">
        <%= link_to t('header.all_suki'), posts_path,
            class: 'inline-block px-6 py-3 text-lg font-semibold text-white bg-sky-500 rounded-lg hover:bg-sky-600 shadow-2xl' %>
      </div>
    </div>
  </div>

  <div class="w-full md:w-1/2 bg-white rounded-xl shadow-lg ">
    <div class="p-8 flex flex-col items-center">
      <h2 class="text-xl sm:text-2xl font-bold mb-4 text-gray-800"><%= t('header.post_suki') %></h2>
      <p class="text-gray-600 mb-6 text-center text-sm sm:text-base">あなたの「スキ！」を投稿しましょう！投稿はXでシェアできます！</p>
      <div class="mt-auto">
        <%= link_to t('header.post_suki'), new_post_path,
            class: 'inline-block px-6 py-3 text-lg font-semibold text-white bg-sky-500 rounded-lg hover:bg-sky-600 shadow-2xl' %>
      </div>
    </div>
  </div>
</div>
