<div class="flex justify-center">
  <%= image_tag 'top_image.svg', class: 'w-full max-w-3xl', alt: 'シェアスキ！ロゴ' %>
</div>
<div class="flex flex-col md:flex-row justify-center max-w-4xl mx-auto my-16 gap-16 px-4">
  <div class="w-full md:w-1/2 bg-white rounded-xl shadow-lg ">
    <div class="p-8 flex flex-col items-center">
      <h2 class=" text-xl sm:text-2xl font-bold mb-4 text-gray-800"><%= t('header.all_suki') %></h2>
      <p class="text-gray-600 mb-6 text-center text-sm sm:text-base"><%= t('.index_description') %></p>
      <div class="mt-auto">
        <%= link_to t('header.all_suki'), posts_path,
                    class: 'inline-block px-6 py-3 text-lg font-semibold text-white bg-sky-500 rounded-lg hover:bg-sky-600 shadow-lg' %>
      </div>
    </div>
  </div>

  <div class="w-full md:w-1/2 bg-white rounded-xl shadow-lg ">
    <div class="p-8 flex flex-col items-center">
      <h2 class="text-xl sm:text-2xl font-bold mb-4 text-gray-800"><%= t('header.post_suki') %></h2>
      <p class="text-gray-600 mb-6 text-center text-sm sm:text-base"><%= t('.new_description') %></p>
      <div class="mt-auto">
        <%= link_to t('header.post_suki'), new_post_path,
                    class: 'inline-block px-6 py-3 text-lg font-semibold text-white bg-sky-500 rounded-lg hover:bg-sky-600 shadow-lg' %>
      </div>
    </div>
  </div>
</div>

<div class="text-center my-12">
  <%= link_to t('.usage'), usage_path, class: 'text-lg text-blue-500 underline hover:text-blue-700' %><br>
</div>
