<div class="max-w-6xl mx-auto px-2 my-16">
  <div class="border rounded-lg bg-gray-50 p-4 sm:p-16 text-sm sm:text-base shadow-md">
    <h1 class="text-2xl font-bold mb-12 text-center"><%= t('.title') %></h1>

  <div class="space-y-4">
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" checked="checked">
        <div class="collapse-title text-xl font-medium">みんなのスキ</div>
        <div class="collapse-content">
          <p>・いいね・ブックマーク機能は、<%= link_to t('.sign_up'), new_user_registration_path, class: 'text-blue-500 underline hover:text-blue-700' %>にご利用いただけます。</p>
      <p>・いいねを押すと、投稿者に通知が届きます。</p>
      <p>・ブックマークをすると、マイページから投稿を見返すことができます（マイページは<%= link_to t('.sign_up'), new_user_registration_path, class: 'text-blue-500 underline hover:text-blue-700' %>にご利用いただけます）。</p>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2">
        <div class="collapse-title text-xl font-medium">スキの検索</div>
        <div class="collapse-content">
          <p>・「みんなのスキ」ページ上部の検索欄から、キーワードまたはカテゴリ検索できます。</p>
          <p>・キーワードには、ユーザー名・投稿タイトル・投稿の推しポイントなどが含まれます。</p>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2">
        <div class="collapse-title text-xl font-medium">スキの詳細</div>
        <div class="collapse-content">
      <p>・詳細ページ下部の編集ボタンから、自分が投稿した内容を編集できます。</p>
    </div>
      </div>

    <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2">
        <div class="collapse-title text-xl font-medium">スキをXに投稿</div>
        <div class="collapse-content">
      <p>・「スキの詳細」のXシェアボタンから、スキをXに投稿できます。</p>
          <p>・Xに反映される画像は以下の通りです。</p>
          <ul class="list-disc ml-6">
            <li>メイン画像がある場合は、その画像が反映されます。</li>
            <li>メイン画像がない場合は、投稿のタイトルをもとに自動生成された画像が反映されます。</li>
          </ul>
    </div>
      </div>

    <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2">
        <div class="collapse-title text-xl font-medium">スキにコメント</div>
        <div class="collapse-content">
          <p>・コメントの追加は、<%= link_to t('.sign_up'), new_user_registration_path, class: 'text-blue-500 underline hover:text-blue-700' %>にご利用いただけます。</p>
          <p>・「スキの詳細」から、投稿にコメントを追加できます。</p>
          <p>・コメントを投稿・いいねすると、投稿者に通知が届きます。</p>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2">
        <div class="collapse-title text-xl font-medium">スキ作成</div>
        <div class="collapse-content">
          <p>・スキ作成は、<%= link_to t('.sign_up'), new_user_registration_path, class: 'text-blue-500 underline hover:text-blue-700' %>にご利用いただけます。</p>
      <p>・入力必須項目はカテゴリ、タイトル、推しポイントです。</p>
      <p>・YouTube動画URLはYouTube動画の共有ボタンからコピーしたURLを入力してください。ブラウザの上部アドレスバーのURLを入力しても反映されませんので、ご注意ください。</p>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2">
        <div class="collapse-title text-xl font-medium">通知</div>
        <div class="collapse-content">
          <p>・通知機能は、<%= link_to t('.sign_up'), new_user_registration_path, class: 'text-blue-500 underline hover:text-blue-700' %>にご利用いただけます。</p>
          <p>・通知が作成される条件</p>
        <ul class="list-disc ml-6">
              <li>自分の投稿に他のユーザーがいいねを押したとき。</li>
              <li>自分の投稿に他のユーザーがコメントを追加したとき。</li>
        <li>自分のコメントに他のユーザーがいいねを押したとき。</li>
            </ul>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2">
        <div class="collapse-title text-xl font-medium">マイページ</div>
        <div class="collapse-content">
          <p>・マイページは、<%= link_to t('.sign_up'), new_user_registration_path, class: 'text-blue-500 underline hover:text-blue-700' %>にご利用いただけます。</p>
      <p>・自分の投稿一覧・ブックマークした投稿を確認できます。</p>
      <p>・ユーザー名の横にある編集ボタンから、ユーザー情報を編集できます。</p>
        </div>
      </div>

      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2">
        <div class="collapse-title text-xl font-medium">利用規約・プライバシーポリシー・お問い合わせ</div>
        <div class="collapse-content">
          <p>利用規約・プライバシーポリシー・お問い合わせは、ページ下部のフッターからアクセスできます。</p>
        </div>
      </div>
  </div>
  </div>
</div>
