<div class="flex items-center justify-between">
  <div class="flex items-center ">
    <% if  notification.visitor.avatar.present? %>
      <%= image_tag notification.visitor.avatar.url, class: 'w-8 h-8 object-cover rounded-full mr-3' %>
    <% else %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="size-9 stroke-rose-400 mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
    <% end %>
    <span class="font-semibold text-sm sm:text-base">
      <%= notification.visitor.name %>
    </span>
    <span class="ml-2 text-sm sm:text-base">
      <% if notification.notifiable_type == 'Post' %>
        があなたの投稿「<%= link_to notification.notifiable.title, post_path(notification.notifiable), class: 'text-blue-600 hover:text-blue-800 hover:underline' %>」にいいねしました
      <% elsif notification.notifiable_type == 'Comment' %>
        があなたのコメント「<%= link_to truncate(notification.notifiable.body, length: 20), post_path(notification.notifiable.post),
                              class: 'text-blue-600 hover:text-blue-800 hover:underline' %>」にいいねしました
      <% end %>
    </span>
  </div>
  <span class="text-gray-500 text-sm ml-2">
    <%= l notification.created_at, format: :long %>
  </span>
</div>
