<header>
  <div class="navbar bg-rose-400 py-3 text-sm sm:text-base ">
    <div class="flex-1">
      <%= link_to root_path do %>
        <%= image_tag 'header_logo.svg', class: 'w-40', alt: 'シェアスキ！ロゴ' %>
      <% end %>
    </div>
    <div class="sm:space-x-16">
      <%= link_to posts_path, class: 'flex flex-col items-center gap-1'  do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="size-8 sm:size-12 stroke-rose-100">
          <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>
        <div class="text-sm sm:text-base text-neutral-600">
          <span><%= t('header.all_suki') %></span>
        </div>
      <% end %>
      <%= link_to new_user_registration_path, class: 'flex flex-col items-center gap-1'  do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="size-8 sm:size-12 stroke-rose-100">
           <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
        </svg>
        <div class="text-sm sm:text-base text-neutral-600">
          <span><%= t('header.sign_up') %></span>
        </div>
      <% end %>
      <%= link_to new_user_session_path, class: 'flex flex-col items-center gap-1'  do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="size-8 sm:size-12 mr-1 stroke-rose-100">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
        </svg>
        <div class="text-sm sm:text-base text-neutral-600">
          <span><%= t('header.sign_in') %></span>
        </div>
      <% end %>
    </div>
  </div>
</header>
