<header>
  <div class="navbar">
    <div class="flex-1">
      <a><%= link_to 'KORESUKI', root_path %></a>
    </div>
    <nav class="flex-none flex space-x-6">
      <%= link_to t('header.all_suki', default: 'みんなのSUKI'), posts_path, class: 'px-4 py-2' %>
      <%= link_to t('header.post_suki', default: 'SUKI投稿'), '#', class: 'px-4 py-2' %>
      <%= link_to t('header.mypage', default: 'マイページ'), '#', class: 'px-4 py-2' %>
      <%= link_to t('header.logout', default: 'ログアウト'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'px-4 py-2' %>
    </nav>
  </div>

  <div class="text-red-500 bg-blue-200 p-2">
    Tailwind Debug: このテキストが **赤色** で、背景が **青色** なら Tailwind は適用されています！
  </div>
</header>
