<div class="max-w-6xl mx-auto pt-3">
  <div class="flex justify-center">
    <div class="w-full lg:w-10/12">
      <!-- 検索フォーム -->
      <%= form_with model: @search_posts_form, scope: :query, url: posts_path, method: :get do |f| %>
        <div>
          <%= f.search_field :keyword, value: @search_posts_form.keyword, placeholder: 'キーワードで検索' %>
        </div>
        <div>
          <%= f.submit '検索' %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="mt-6">
    <% if @posts.present? %>
      <div class="space-y-4">
        <div class="flex flex-wrap -mx-2">
          <%= render @posts %>
        </div>
      </div>
    <% else %>
      <div class="text-center"><%= t('.no_posts') %></div>
    <% end %>
  </div>
</div>
