<div>
  <h2><%= @post.user.name %> сЂЋсѓЊсЂ« SUKI</h2>

  <h1>сђї<%= @post.title %>сђЇ</h1>

<!-- ТіЋуе┐ућ╗тЃЈ -->
  <% if @post.image.present? %>
    <img src="<%= @post.image %>" alt="ТіЋуе┐ућ╗тЃЈ">
  <% else %>
    <div style="width: 300px; height: 200px; background-color: lightgray; text-align: center; line-height: 200px;">
      тєЎуюЪ
    </div>
  <% end %>

  <!-- ТіЋуе┐тєЁт«╣ -->
  <p><%= @post.body %></p>

  <!-- XсѓисѓДсѓбсЃюсѓ┐сЃ│ -->
  <div class="text-gray-600">
    <% encode_text = URI.encode_www_form_component("сђљKORESUKIсђЉ\nсѓЈсЂЪсЂЌсЂ«тЦйсЂЇсђї#{@post.title}сђЇсѓњТіЋуе┐сЂЌсЂЙсЂЌсЂЪ№╝Ђ") %>
    <% twitter_share_url = "https://twitter.com/intent/tweet?url=#{CGI.escape(post_url(@post))}&text=#{encode_text}%0A%0A&hashtags=KORESUKI" %>
      <%= link_to twitter_share_url, target: '_blank', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded',
                                     title: 'XсЂДсѓисѓДсѓб', rel: 'noopener' do %>
      <span>Share on X</span>
    <% end %>
  </div>

  <!-- уиежЏєсЃ╗тЅіжЎц№╝ѕТіЋуе┐УђЁсЂ«сЂ┐)-->
  <% if user_signed_in? && current_user.own?(@post) %>
    <div>
      <%= link_to 'РюЈ№ИЈ уиежЏє', edit_post_path(@post), class: 'btn btn-primary' %>
      <%= link_to '­ЪЌЉ№ИЈ тЅіжЎц', post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('helpers.confirm.delete') },
                                             class: 'btn btn-danger' %>
    </div>
  <% end %>

  <!-- сѓ│сЃАсЃ│сЃѕсЃЋсѓЕсЃ╝сЃа -->
  <div class="mt-8">
    <h3 class="text-xl font-bold mb-4"><%= t('comments.create.title') %></h3>
    <% if user_signed_in? %>
      <%= render 'comments/form', post: @post %>
    <% end %>
  <!-- сѓ│сЃАсЃ│сЃѕСИђУдД -->
    <div class="mt-6">
      <%= render @comments %>
    </div>
  </div>
</div>
