<div class="container mx-auto max-w-4xl px-4 py-8">
  <div class="flex items-center">
    <% if @post.user.avatar.present? %>
      <%= image_tag @post.user.avatar.url, class: 'w-16 h-16 object-cover rounded-full mr-3' %>
    <% end %>
    <span class="font-semibold"><%= @post.user.name %><%= t('.title') %></span>
  </div>

  <h1 class="text-center text-2xl font-bold my-4">「<%= @post.title %>」</h1>

<!-- メイン画像 -->
  <div class="flex justify-center my-6">
    <% if @post.image.present? %>
      <%= image_tag @post.image.url, alt: 'メイン画像', class: 'max-w-full' %>
    <% else %>
      <div style="width: 300px; height: 200px; background-color: lightgray; text-align: center; line-height: 200px;">
        写真
      </div>
    <% end %>
  </div>

  <!-- 投稿内容 -->
  <p class="my-6 text-center"><%= simple_format(@post.body) %></p>

  <!-- サブ画像 -->
  <% if @post.post_images.present? %>
    <div class="flex flex-col items-center my-6">
      <% @post.post_images.each do |post_image| %>
        <%= image_tag post_image.image.url, alt: 'サブ画像', class: 'max-w-full mb-2' %>
        <% if post_image.caption.present? %>
          <p class="mb-4 text-center"><%= post_image.caption %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <!-- youtube埋め込み -->
  <% if @post.post_videos.present? %>
  <div class="my-6">
    <% @post.post_videos.each do |post_video| %>
      <div class="flex justify-center mb-4">
        <div class="w-full max-w-xl">
          <%= content_tag 'iframe', nil,
                          width: '100%',
                          height: '315',
                          src: "https://www.youtube.com/embed/#{post_video.youtube_url}",
                          frameborder: '0',
                          gesture: 'media',
                          allow: 'encrypted-media',
                          allowfullscreen: true,
                          class: 'w-full' %>
          <% if post_video.caption.present? %>
            <p class="mb-4 text-center"><%= post_video.caption %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

  <!-- Xシェアボタン -->
  <div class="flex justify-center my-6">
    <% encode_text = URI.encode_www_form_component("【シェアスキ！】\nわたしの好き「#{@post.title}」を投稿しました！") %>
    <% twitter_share_url = "https://twitter.com/intent/tweet?url=#{CGI.escape(post_url(@post))}&text=#{encode_text}%0A%0A&hashtags=シェアスキ" %>
      <%= link_to twitter_share_url, target: '_blank', rel: 'noopener', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' do %>
      <span><%= t('helpers.submit.xshare') %></span>
    <% end %>
  </div>

<!-- カテゴリ -->
  <% if @post.categories.present? %>
    <div class="mt-2 space-y-1">
      <% @post.categories.each do |category| %>
        <div class="inline-block px-2 py-1 bg-gray-100 rounded-md text-sm">
          <%= category.name %>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- コメントフォーム -->
  <div class="mt-8">
    <h3 class="text-xl font-bold mb-4 text-center"><%= t('comments.create.title') %></h3>
    <% if user_signed_in? %>
      <%= render 'comments/form', post: @post %>
    <% end %>
  <!-- コメント一覧 -->
    <div class="mt-6">
      <%= render @comments %>
    </div>
  </div>

  <!-- 編集・削除（投稿者のみ)-->
  <% if user_signed_in? && current_user.own?(@post) %>
    <div class="flex justify-center gap-4 mt-6">
      <%= link_to t('helpers.submit.edit'), edit_post_path(@post), class: 'btn btn-primary' %>
      <%= link_to t('helpers.submit.delete'), post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('helpers.confirm.delete') },
                                                                class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
